@model IEnumerable<BusinessLayer.ViewModels.TaskViewModel>

@{
    ViewData["Title"] = "Current employee's tasks:";
    
    
}

<h1>All completed and uncompleted tasks for current employee</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th>
                Due date / Completed date
            </th>
            <th>
                Status
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            
             <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDone)
                </td>
                <td>
                @if (!item.IsDone)
                {                                    
                    <a asp-action="MarkAsDone" asp-route-id="@item.Id">Mark as done</a>               
                }
                    <a asp-controller="Task" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
             </tr>
        
}
    </tbody>
</table>
